<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
      background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
      color: white;
      background-size:cover;
      background-repeat:no-repeat;
      
    }

    form {
      margin: 10vh auto;
      padding: 20px;
      max-width: 400px;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 10px;
    }

    label {
      font-size: 18px;
      font-weight: bold;
    }

    input[type="text"] {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }

    button[type="submit"] {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      background-color: #1085b7;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }

    button[type="submit"]:hover {
      background-color: #0e3c45;
    }

    p {
      margin-top: 10px;
      font-size: 14px;
    }
    .padding{
      padding:3px;
      margin:3px;
    }
    .logout{
      margin-left:10px;
      margin-top:10px;
      background:none;
      border:none;
      font-size:20px;
    }
  </style>
</head>

<body>
   <button class="logout" id='back'><a href='https://ad034146-ec9d-4d46-8356-9b12a6251919-00-89xkrbdzs3cx.worf.replit.dev/'>Logout</a></button>
  <form method="POST" action="/search">
    <center><h2><%= name %></h2></center>
    <label>Enter your Search:</label>
    <div class="d-flex flex-row">
      <input class="padding" type="text" name="topic" required>
      <label>
        <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search " viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg></button>
      </label>
    </div>
    
    
    <p><%=text%></p>
    
  </form>
</body>

</html>
